body{
    padding: 0 50px;
}
ul{
    list-style: none;
    text-align: right;
}
li{
    display: inline;
    color: #ebd6e8;
    font-size: larger;
}
.intro{
    color: #37419a;
}
li a{
    color: #ebd6e8;
    text-decoration: none;
}
.top{
    color:#84c0e9;
    text-align: center;
}
#logo{
    height: 270px;
}

.field{
    margin: 10px 0px;
}

.btn{
    background: #f1f1f1;
    height: 27px;
    width: 81px;
    border-radius: 0px;
}

h3{
    color: #84c0e9;
}