.pane_color{
    -fx-background-color:linear-gradient(from 25% 25% to 100% 100%, #D1397B, #F3EDDB);
}

.scrollbar_color{
  -fx-background-color:linear-gradient(from 9% 9% to 81% 81%, #f9f2e7,#000000)
}

.preppy {
  color: #f9f2e7;
  font-weight: 1080;
}